/*reset start*/
* {
    margin: 0;
    padding: 0; 
    border: 0; 
    background: transparent; 
    outline: none; 
    text-decoration: none; 
    font-family: inherit; 
    box-sizing: border-box;
}

ol, 
ul, 
li {
    list-style: none; 
    display: block;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a img {
    border: none;
}

button, 
a {
    cursor: pointer; 
    color: inherit;
}

textarea {
    resize: none;
}

button,
input,
textarea,
select {
    appearance: none !important; 
    border-radius: 0;
}
/*reset end*/

body {
    height: 100vh;
    font-family: 'Raleway', sans-serif;
    background-image: url(/src/levendula-tenger.jpg);
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}

.cardContainer {
    transform: translate(-15%, -50%);
}

h1 {
    text-shadow: 0px 4px 3px rgba(0,0,0,0.2);
}

#button{ 
    margin: 20px;
    background-color:rgb(115, 79, 115);
}